.contentBox {
    border: solid 2px blue;
    margin: 25px;
}

.listBox {
    border: solid 2px orange;
    margin: 50px;
}

p {
    color: #ffcb00;
}

* {
    color: #ffcb00;
}

.generalLabel {
    margin: 5px;
    color: #ffcb00 !important;
}

.generalFields {
    margin: 5px;
    color: black !important;
}

.entryEditLabels {
    color: #ffcb00 !important;
}

.dateFields {
    width: 107px !important;
}

#typeRadios {
    margin-left: 5px;
}

.regFields {
    margin: 5px;
}

.editButtons {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

#myPanel {
    margin-left: 15px !important;
}

#loginButtonDiv {
    margin-left: 150px !important;
    padding-left: 150px !important;
    margin-bottom: 15px !important;
    /*margin-right: 0.001em !important;*/
    position: fixed; top: 0; right: 0;
    text-align: right;
    width: 50%;
    display: block;
}

#loginButton {
    width: 9em !important;
}

#multiButton {
    margin-top: 15px !important;
}

#registerButton {
}

#logo {
    /*margin: 23px;*/
    text-decoration: none;
    color: purple;
    font-family: Impact;
    font-size: 45px;
}

#mainContainer {
}

.navButton {
    color: red;
}

.centerBlock {
    display: table;
    margin: 0 auto;
}

#entryMeta {
    border: solid 1px black;
}

#entryMain {
    border: solid 1px blue;
}

._label {
    font-weight: bold;
    white-space: nowrap;
    /*color: #ad264b !important;*/
}

.noWrap {
    white-space: nowrap;
}

.capitalize {
    text-transform: capitalize;
}

.bigLabel {
    font-size: large;
    /*color: #ad264b !important;*/
    /*color: #3fc13d !important;*/
}

.data {
    color: #3fc13d !important;
}

hr {
    margin: 0.3em auto !important;
    border-color: #dbaf5e !important;
}

.panel {
    margin: 2em auto !important;
    border: solid 1px black !important;
}

.panel-body {
    background: #1b0b0b !important;
}

.navItem {
    margin: 0.5em auto !important;
}

#navSpacerDiv {
    margin-right: 135px !important;
}

#homeSearchField {
    /*margin: 0.5em auto !important;*/
    margin-left: 13px !important;
}

#homeSearchButton {
    margin-right: 15px !important;
}

body {
    background: url(http://www.publicdomainpictures.net/pictures/40000/velka/pandora-storm.jpg) no-repeat center center fixed;
    background-size: cover;
}

#ddlsearch {
    background-color: aliceblue;
}

#searchByButton {
    width: 150px !important;
}

#searchForButton {
    width: 180px !important;
}

.divider {
    width: 5px !important;
    height: auto !important;
    display: inline-block !important;
}

.thumbnailImg {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    height: auto;
    width: auto;
    max-height: 325px;
    max-width: 325px;
}

#loginDiv {
    background-color: aliceblue;
}

#masterlist {
}

#masterlistEditModal {
    background-color: aliceblue;
}

.ratingSelect {
    background: #3290ba !important;
    margin-top: 15px !important;
}

.userAttrInputs {
    color: #000000 !important;
    margin: 1px !important;
}

.lowercase {
    text-transform: lowercase;
}

.center {
    text-align: center !important;
}

.vanillaButton {
    background-color: #2684cb !important;
    color: black !important;
}

.dbContributorButton {
    margin-left: 5px !important;
}

input[type="text"], textarea {
    color: #000000;
}

textarea {
    color: #000000 !important;
}

#dbEditModal {
    background-color: #4d1b1b !important;
}

#contributorEditModal {
    background-color: #4d1b1b !important;
}

.cem-marginBottom {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 20px;
}

#listEmpty {
    color: #ffcb00 !important;
}

.reviewHead {
    background-color: #784e4e !important;
}

.reviewBody {
    background-color: #283527 !important;
}

pre {
    background-color: #283527 !important;
    border-color: #283527 !important;
}

.reviewText {
    color: #ffcb00 !important;
    font-family: Arial;
}

#reviewRating {
    margin-top: 28px !important;
}

.error {
    color: #87e99e !important;
}

.space-left {
    margin-left: 0.28em !important;
}

.mini-results {
    width: 72%;
}

.truncate {
    width: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.addDbMarginTop {
    margin-top: 5px !important;
}

#addSearchFor {
    margin-left: 5px !important;
}

#addSearchBarButton {
    margin-top: 5px;
    margin-left: -10px;
    width: 100%
}

.cEditSearchForBy {
    width: 74% !important;
}

#contributionCheckbox {
    margin-left: 5px;
}

#animationRadios {
    margin-left: 5px;
}

#adminSearchCheckboxes {
    margin-top: 3px !important;
}

.aboutText {
    font-size: 16px;
    color: #ffffff !important;
}

.aboutList {
    font-size: 16px;
    color: #fffd8a;
}

.sectionHeader {
    color: #67b8fc;
}

.greenHeader {
    color: green !important;
    font-weight: bold !important;
}

.footer {
    position: fixed; bottom: 0;
    text-align: left;
    width: 100%;
    display: block;
}

.blackText {
    color: black !important;
}
