<div class="container">
    <h1>About</h1>

    <p>
        Keep track of all your media.  Add movies, TV shows, games, books, music and art to your master list; rate each item you add and keep track of your start and finish dates.
        Discuss movies, episodes, games, songs, and etc. with other users.
    </p>
    <br />
    <p>Add media to custom lists consisting of one or more different types (e.g. a "Best Psychological Horror" could contain your top picks from movies, games, books, and TV shows) and share this lists with other users or on social media.</p>
    <br />
    <p>Read and write reviews, view and sort media by average user rating, and get recommendations based on your highly rated items.</p>
</div>
